@using ASP.NET_LEARNİNG.Models
@model List<Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Ürünlerimiz</h1>
    <hr />  
    @foreach(var product in Model){
        <p> 
            <b>Id:</b> @product.Id - <b>Name: </b>@product.Name - <b>Price: </b>@product.Price - <b>Stock: </b>@product.Stock
        </p>
    }

</body>
</html>
